button {
 	 font-weight: bold;
 	 margin: 0;
 	 padding: 1em 2em;
 	 position: relative;
 	 vertical-align: middle;
 	 box-sizing: border-box;
 	 cursor: pointer;
 	 text-transform: uppercase;
 	 letter-spacing: 2px;
 	 font-size: 18px;
 	 border: 0;
 	 background-color: transparent;
 	 transition: all 0.5s ease;
 	 box-shadow: inset 0 0 0 3px #0766af;
}

button:hover {
	 color: #faf3e4;
	 background: #2fcc8e;
	 transition: background-color 0.15s ease-out 1.0s, color 0.10s ease-out 1.0s, box-shadow 0.25s ease-out 1.0s;
}

button::before, button::after {
	 width: 100%;
	 height: 100%;
	 z-index: 3;
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 box-sizing: border-box;
	 -webkit-transform: scale(0);
	 transition: 0.5s;
}

button::before {
	 border-bottom: 3px solid #2fcc8e;
	 border-left: 3px solid #2fcc8e;
	 -webkit-transform-origin: 0 100%;
}

button::after {
	 border-top: 3px solid #2fcc8e;
	 border-right: 3px solid #2fcc8e;
	 -webkit-transform-origin: 100% 0%;
}

button:hover::after, button:hover::before {
	 -webkit-transform: scale(1);
}