.animation {
	 width: 50px;
	 height: 50px;
	 background-color: #ce2829;
	 border-radius: 50px;
	 color: #fff;
	 position: relative;
	 transition: width .7s .3s;
}

.animation i {
	 position: absolute;
	 left: 0;
	 right: 0;
	 text-align: center;
	 padding: 10px;
	 font-size: 30px;
	 transition: opacity .7s .7s;
}

.animation::after {
	 content: 'Read More';
	 font-family: 'consolas';
	 font-weight: bold;
	 display: inline-block;
	 text-align: center;
	 text-transform: uppercase;
	 padding: 15px 0;
	 padding-bottom: 0;
	 width: 100%;
	 opacity: 0;
	 transition: opacity .3s;
}

.animation:hover {
	 width: 200px;
	 transition: width .7s;
}

.animation:hover i {
	 transition: opacity .7s;
	 opacity: 0;
}

.animation:hover::after {
	 opacity: 1;
	 transition: opacity .7s .7s;
}