.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.btn-open {
	font-size: 1.5rem;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	user-select: none;
	visibility: hidden;
	pointer-events: none;
}

.btn-download {
	font-size: 1.5rem;
	cursor: pointer;
	border: none;
	background-color: #040404;
	color: #fff;
	border-radius: 5px;
	display: block;
	width: 300px;
	height: 70px;
	transition: all 0.3s ease;
	transform-origin: center bottom;
	transform: scale(1);
	position: relative;
	overflow: hidden;
	outline: none;
}

.btn-download:hover {
	background-color: #a0a0a0;
}

.btn-download:before, .btn-download:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn-download:after {
	background: #040404;
	border-radius: 5px;
	transform: translateX(-100%);
}

.btn-download:focus {
	font-size: 0;
	height: 10px;
	border-radius: 20px;
	background-color: #d1d1d1;
	animation-name: strecht;
	animation-delay: 1.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.btn-download:focus + .btn-open {
	animation-name: appear;
	animation-delay: 2s;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.btn-download:focus:after {
	transform: translateX(0);
	transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-delay: 0.4s;
}

@keyframes stretch {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.4);
	}
}

@keyframes appear {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		visibility: visible;
		transform: translateY(-15px);
	}
}