*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
    background: #222831;
}
.card{
    background: #f05454;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin: 50px;
    color: white;
    transform: rotate(-4deg) skewY(-10deg) translateX(0);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
    position: relative;
    transition: all .4s;
}
.card:hover{
    transform: rotate(-4deg) skewY(-10deg) translateX(10px);
    background: #f83b3b;
}

.card::before,
.card::after{
    content: '';
    position: absolute;
    background: #30475e;
}
.card::before{
    top: -20px;
    left: -10px;
    width: 100%;
    height: 20px;
    transform: rotate(0deg) skewX(45deg);
}
.card::after{
    top: -10.1px;
    left: -20px;
    width: 20px;
    height: 100%;
    transform: rotate(0deg) skewY(45deg);
}


.btn{
    width: 150px;
    height: 40px;
    background: #16697a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
    position: absolute;
    top: 180px;
    left: 220px;
    outline: none;
    transform: translateX(0);
    transition: all 0.4s;
}
.btn:hover{
    transform: translateX(10px);
    background: #279ab1;
}


.btn::before,
.btn::after{
    content: '';
    position: absolute;
    background: #30475e;
}
.btn::before{
    top: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    transform: rotate(0deg) skewX(45deg);
}
.btn::after{
    top: -5px;
    left: -10px;
    width: 10px;
    height: 100%;
    transform: rotate(0deg) skewY(45deg);
}
