body{
  margin:0;
  padding:0;
  background-color:#1a1a1a;
}
ul{
  margin:450px 200px;
  padding:0;
  display:flex;
}
ul li{
  list-style:none;
  padding:20px 40px;
  
}
ul li a{
  color:#fff;
  text-decoration:none;
  font-size:35px;
  text-transform: uppercase;
  font-family:sans-serif;
  position: relative;
}
ul li a:before{
  content:"";
  background-color:#009900;
  width:10px;
  height:5px;
  position:absolute;
  top:100%;
  left:0;
  transition:.7s;
}
ul li a:hover:before{
  width:50%;
  left:50%
}
ul li a:after{
  content:"";
  background-color:#009900;
  width:10px;
  height:5px;
  position:absolute;
  top:-7px;
  left:100%;
  transition:.7s
}
ul li a:hover:after{
  width:50%;
  left:0
}