body{
    background: black;
}
.box{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    animation: anim 2s infinite linear;
}
@keyframes anim{
    0%{
        box-shadow: 0 0 0 0px rgba(0, 98, 90, 0.2);
    }
    20%{
        box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2),
                    0 0 0 40px rgba(0, 98, 90, 0.2);
    }
    60%{
        box-shadow: 0 0 0 10px rgba(0, 98, 90, 0.2),
                    0 0 0 50px rgba(0, 98, 90, 0.2),
                    0 0 0 30px rgba(0, 98, 90, 0.2);
    }
    80%{
        box-shadow: 0 0 0 0px rgba(0, 98, 90, 0.2),
                    0 0 0 40px rgba(0, 98, 90, 0.2),
                    0 0 0 60px rgba(0, 98, 90, 0.2),
                    0 0 0 80px rgba(0, 98, 90, 0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0, 98, 90, 0.2),
                    0 0 0 40px rgba(0, 98, 90, 0.2),
                    0 0 0 60px rgba(0, 98, 90, 0.2),
                    0 0 0 90px rgba(0, 98, 90, 0.2),
                    0 0 0 120px rgba(0, 98, 90, 0.2);
    }
}